$textColor: white;
$secondaryTextColor: black;

//Opção Verde
// $ColorViridian: #538161;
// $ColorAspargus: #88ab7c;
// $ColoarAsh_gray: #adc0a0;
// $ColorLavender: #d7d1e7;
// $ColorMagnolia: #f4ecfc;


// Opção azul
// $ColorViridian: #001f3f;
// $ColorAspargus: #004080;
// $ColoarAsh_gray: #0070A0;
// $ColorLavender: #00A0E0;
// $ColorMagnolia: #00c0ff;

// Opcao Todas CORES
$ColorViridian: #001f3f;
$ColorAspargus: #003366;
$ColoarAsh_gray: #ffa500;
$ColorLavender: #ffd700;
$ColorMagnolia: #32cd32;